body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(120deg, #1db954, #191414);
}
.container {
    max-width: 80rem;
    margin: 20px auto;
    padding: 20px;
    background:linear-gradient(120deg, #1db954, #191414);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
}
.columnlist{
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
li {
    margin-bottom: 10px;
}
.genre-item {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}
.genre-item:hover {
    background-color: #e0e0e0;
}

.dropdown-arrow {
    height: 0;
    width: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #333;
    position: relative;
    top: 45px;
    left: 350px;
  }

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
#genresContainer{
    display:block;
}
#playlistContainer
{
    display: none;
    grid-template-areas:
    "playlist tracks tracks tracks";
    background-color: seagreen;
    border-radius: 15px;
}
#playlistArea{
    grid-area:playlist;
    margin-top: 15px;
    margin-right: 15px;
}
#playlist{
    width: 20rem;
}
#tracksArea{
    grid-area:tracks;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.search-txt{
        font-size:medium;
        color: aliceblue;
        text-decoration: none;
       
}
.search
    {   border: #29282B;
        border-radius:1rem;
        
}
.search-button{
    padding: 5px 20px;
    background-color :lightslategray;
}
#search-genre{
    font-weight: 600;
    padding: 5px ;
    font-size: larger;
    margin-right:-30px ;
}

#search-bar{
    width: 30%;
    padding-left: 20px;
    background-color :grey;
}

.search-row{
    display: flex;
    margin-bottom: 50px;
    gap: 2rem;
}